{% extends 'book/main.html' %}

{% block title %} Lista wszystkich Książek w bazie {% endblock %}

{% block page %}

{% if user.is_authenticated %}
Witaj {{ user.username }}<br>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>

<a href="{% url 'create_book2' %}">Nowa ksiązka</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'create_over_2000' %}">Nowa ksiązka nie starsza niż 2000 rok</a>&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<a href="{% url 'books_category' %}">Książki po kategoriach</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'stat_books' %}">Statystyki książek</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'authors_by_books' %}">Książki i autorzy</a>

{% if books %}
<ul>
    {% for book in books %}
    <li><a href="{% url 'one_book' book.id %}">{{ book.title }}</a></li>
    <a href="{% url 'edit_book2' book.id %}">Edytuj książkę</a>
    <a href="{% url 'delete_book' book.id %}">Usuń książkę</a>
    {% endfor %}
</ul>
{% else %}
<p>Brak książek w bazie danych.</p>
{% endif %}

{% endblock %}