{% extends 'book/main.html' %}

{% block title %} Lista Ksiązek w/g kategorii {% endblock %}

{% block page %}

{% if user.is_authenticated %}
Witaj {{ user.username }}<br>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>

<a href="{% url 'create_book2' %}">Nowa ksiązka</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'create_over_2000' %}">Nowa ksiązka nie starsza niż 2000 rok</a>&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<a href="{% url 'books_category' %}">Książki po kategoriach</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'stat_books' %}">Statystyki książek</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'authors_by_books' %}">Książki i autorzy</a>

{% if books %}
{% for c in category %}
<p>
<h4>{{ c|last }}</h4>
</p>
<ul>
    {% for book in books %}
    {% if book.extrainfo.category == c|first %}
    <li> {{ book.title }} ({{ book.publication_year }})</li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}

<p>
<h4>Książki bez określonej kategorii</h4>
</p>
{% for bookN in booksNone %}
<ul>
    <li> {{ bookN.title }} ({{ bookN.publication_year }})</li>
</ul>
{% endfor %}



{% else %}
<p>Brak ksiązek o określonych kategoriach.</p>
{% endif %}
<a href="{% url 'all_books' %}">Cofnij</a>
{% endblock %}